@model IEnumerable<Tax_Calculator_MVC.ViewModel.EmployeeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Employees" asp-action="Index"> 
    <p>
        Title: <input type="Text" name="SearchString"/>
               <input type="submit" value="Filter"/>
    </p>
</form>
<form asp-controller="Employees" asp-action="BOOOM">
    <p>
     <button type="submit" value="BOOOM">BOOOM</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                Salary after taxes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.netoSalary)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Calculate" asp-route-id="@item.Id">Calculate/Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
